/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header Styling */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Menu Icon Styling */
.menu-logo {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Side Menu */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 24px;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    background-color: #575757;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    color: white;
}